<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Administration Fil Rouge</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon matTooltip="Add link" matTooltipPosition="below"
          matTooltipHideDelay="1000" (click)="add()">add</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with help icon">
    <mat-icon matTooltip="Info about the action" matTooltipPosition="left"
          matTooltipHideDelay="1000">help</mat-icon>
  </button>
</mat-toolbar>

<div class="app">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>